transformers
sentence-transformers
torch
tensorflow
tf_keras
keras
streamlit
google-generativeai
googletrans==4.0.0-rc1
langdetect
sentence-transformers
scikit-learn
pandas
numpy
python-dotenv